---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Damien, a Designer/Doodler from USA.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Adobe</li>
        <li>Blender</li>
        <li>Old School Tools</li>
        <li>Astro</li>
        <li>Javascirpt</li>
        <li>Nodejs</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I love Tech work, and I have a passion for learning. I love design, illustration, 3D modelling, My dog, and Phyisical activity.
      An unusual hobby of the month is finding motorcycle helemts for my dog.
    </p>
    <p class="text-sm font-light">
      "Man is a tool user." - Some smart guy 
    </p>
  </div>
</Card>
